@import '../../vars.css';

body {
    overflow-x: hidden;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: rgba(12, 12, 12, 0.6); */
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 15px;
    font-family: var(--font-roboto);
    /* color: aqua; */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 130%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description{
    font-size: 25px;
    font-family: var(--font-roboto);
    margin-bottom: 50px;
    /* text-align: right; */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 130%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.heroImg{
    width: 20%;
    height: 20%;
    margin-left: 10px;
    border-radius: 160px / 140px;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating{
    0%{
        transform: translate(0, 0px);
    }

    50%{
        transform: translate(0, 10px);
    }

    100%{
        transform: translate(0, -0px);
    }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: 10vw;
    border: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur{
    position: absolute;
    width: 100%;
    height: 50vw;
    min-height: 350px;
    min-height: 250px;
    top: 246px;
    right: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px){
    .container{
        flex-direction: column-reverse;
    }

    .content{
        align-items: center;
    }

    .description{
        font-size: 25px;
        font-family: var(--font-roboto);
        /* margin-bottom: 50px; */
    }
}